---
layout: default
title: BeachCity Media
description: BeachCity is reimaging entrepreneurship development. Let's inspire the new generation of founders, inventors and creatives through storytelling.
keywords: beachcity, beachcitylife, beachcity media, beachcity video, beachcity social media, entrepreneurship, entrepreneur stories, startup stories, entrepreneurial lifestyle
og-image: /images/presenter.jpg
---
<header id="hero" class="bg-home text-center grid-bottom">
  <img src="/images/beachcity-logo.png" style="width: 30%;"/></a>
  <h1 class="pad-all-s text-caps heading-home">Drive the global conversation</h1>
</header>
<div class="color-stripes-container grid-noGutter">
  <span class="col-2 color-stripe bg-cyan"></span>
  <span class="col-2 color-stripe bg-turquoise"></span>
  <span class="col-2 color-stripe bg-teal"></span>
  <span class="col-2 color-stripe bg-yellow"></span>
  <span class="col-2 color-stripe bg-orange"></span>
  <span class="col-2 color-stripe bg-red"></span>
</div>
<section id="1">
  <h2 class="pad-top-s editable">We travel the globe bringing your the best of the global conversation around entrepreneurship and innovation.</h2>
  <div class="editable">
    <p>
      Inspiring a new generation of founders, inventors and creatives, we tell authentic stories and spotlight the people building tomorrow.
    </p>
    <p>
      In the age of Wikipedia, Youtube, and Google, we think there’s more to learning than classrooms and lectures, and we’re on a mission to reimagine how we develop entrepreneurship capability across the globe.
    </p>
    <p>
      At every event and in each destination we've travelled to, we've heard incredible stories and learned powerful lessons. We believe every entrepreneur has something to share with the world.
    </p>
    <h2>Join the conversation with us!</h2>
  </div>
  <div class="pad-top-xs pad-bottom-s">
    <a href="/contact"><button>Get in Touch →</button></a>
  </div>
</section>
<section class="bg-teal">
  <h2 class="editable">Featured Story</h2>
  <!-- {% for video in site.video limit:1 %}
  {% if video.feature == true %}
    <div class="video-container">
      <iframe src="https://www.youtube-nocookie.com/embed/{{video.youtubeid}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  {% endif %}
  {% endfor %} -->
  <div class="video-container">
    <iframe src="https://www.youtube.com/embed/pOsxI4yfQyQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="text-center">
    <p class="editable">
      Want more great interviews and innovator insights like this?
    </p>
    <a href="https://www.youtube.com/channel/UCUJcvJL2L_0Js3-qLrIRE4g" target="blank"><button class="button-dark">Watch Our Channel →</button></a>
  </div>
</section>
<section class="text-center">
  <h2>Catch us on our 2019 Asia World Tour!</h2>
  <p>
    We'll be covering the conversations and bringing the buzz to the region's hottest innovation events.
  </p>
  <div class="grid-middle-spaceAround text-center">
    <div class="col-2_sm-4 pad-all-xs">
      <img src="/images/clients/techsauceglobalsummit2019.png" alt="Techsauce"/>
      <h3>19-20 June 2019</h3>
      <p>Bangkok, Thailand</p>
    </div>
    <div class="col-2_sm-4 pad-all-xs">
      <img src="/images/clients/rise.png" alt="RISE Hong Kong"/>
      <h3>8-11 July 2019</h3>
      <p>Hong Kong</p>
    </div>
    <div class="col-2_sm-4 pad-all-xs">
      <img src="/images/clients/startupthailand.png" alt="Startup Thailand"/>
      <h3>25-27 July 2019</h3>
      <p>Bangkok, Thailand</p>
    </div>
    <div class="col-2_sm-4 pad-all-xs">
      <img src="/images/clients/worldstartupexpo.png" alt="World Startup Expo"/>
      <h3>5 events from May to Dec 2019</h3>
      <p>Multiple cities in India</p>
    </div>
    <div class="col-2_sm-4 pad-all-xs">
      <img src="/images/clients/hkfintechweek.png" alt="World Startup Expo"/>
      <h3>4-8 November 2019</h3>
      <p>Hong Kong - Shenzhen</p>
    </div>
  </div>
  <div class="grid-center text-center">
    <div class="col-10_sm-12">
      <p>
        Sponsorship oppotunities now available. If you want to be part of creating the future, there's never been a better opportunity to jump into the conversation. Get in touch with our team to discover how.
      </p>
      <a href="/https://app.hubspot.com/meetings/leigh21/30-minute-presentation" target="blank"><button class="button-dark">Get In Touch →</button></a>
    </div>
  </div>
</section>
<section class="bg-yellow">
  <h2 class="editable text-center">
    The Way We Connect With Audiences Online is Changing...
  </h2>
  <div class="grid-spaceAround-center">
    <div class="col-3_sm-6 text-center pad-all-s">
      <img src="/svgs/video2.svg" alt="computer and video icon" />
      <h3 class="editable">
        Video is eating the world
      </h3>
    </div>
    <div class="col-3_sm-6 text-center pad-all-s">
      <img src="/svgs/adblock2.svg" alt="computer and video icon" />
      <h3 class="editable">
        Ads are a major turnoff
      </h3>
    </div>
    <div class="col-3_sm-6 text-center pad-all-s">
      <img src="/svgs/upload.svg" alt="computer and video icon" />
      <h3 class="editable">
        The web is drowning in content
      </h3>
    </div>
    <div class="col-3_sm-6 text-center pad-all-s">
      <img src="/svgs/authentic.svg" alt="computer and video icon" />
      <h3 class="editable">
        Audiences demand authenticity
      </h3>
    </div>
  </div>
  <div class="grid-center text-center">
    <div class="col-10_sm-12">
      <p>
        Want the inside scoop on social video marketing? Check out our factsheet and find out how you can create content that connects.
      </p>
      <a href="/join-the-conversation-video-marketing"><button class="button-dark">Get the Facts →</button></a>
    </div>
  </div>
</section>
<section>
  <h2 class="editable">Connect With Us</h2>
  <p class="editable">
    We're bringing together a global community of aspiring and inspiring entrepreneurs. Join the conversation and connect with us on social media.
  </p>
  {% include social.html %}
</section>
