---
layout: default
title: BeachCity Media
description: BeachCity is taking LIVE streaming video production to another level.
keywords: >-
  beachcity, beachcitylife, beachcity media, beachcity video, beachcity social
  media, entrepreneurship, entrepreneur stories, startup stories,
  entrepreneurial lifestyle
og-image: 'https://beachcity.com.au/images/leigh.jpg'
---

<header id="hero" class="bg-home text-center grid-bottom">
  <img src="/images/beachcity-logo.png" style="width: 30%;" />
  <h1 class="pad-all-s heading-home editable">
    Take your LIVE streaming to another level.
  </h1>
</header>
<div class="color-stripes-container grid-noGutter">
  <span class="col-2 color-stripe bg-cyan"></span>
  <span class="col-2 color-stripe bg-turquoise"></span>
  <span class="col-2 color-stripe bg-teal"></span>
  <span class="col-2 color-stripe bg-yellow"></span>
  <span class="col-2 color-stripe bg-orange"></span>
  <span class="col-2 color-stripe bg-red"></span>
</div>
<section id="1">
  <h2 class="pad-top-s editable">
    We bring high production value to live streaming with our innovative, quality production, creativity and agile mobile technology. All at an affordable price. Say good bye to grainy, fixed camera angles and bad audio.
  </h2>
  <div class="editable">
    <p>Live video is the future and we want all companies to be able to unlock the potential, no matter what their size or budget.</p>
    <p>Disrupting high-end production costs and low-quality streaming options on the market. Say goodbye to grainy, pixilated, boring, &nbsp;fixed camera angle livestreams.&nbsp;</p>
    <p>Since 2016 we have been pushing the boundaries of what live streaming technology can do, giving you quality, creative freedom and reliability.</p>
    <p>We've live streamed over 100 events and created over 1000 hours of high quality live streamed content all over the globe, we know how to maximize &nbsp;production value for an affordable investment.</p>
  </div>
  <div class="pad-top-xs pad-bottom-s">
    <a href="/contact"><button>Get in Touch →</button></a>
  </div>
</section>
<section class="bg-teal">
  <h2 class="editable">
    Featured Story
  </h2>
  <!-- {% for video in site.video limit:1 %}
  {% if video.feature == true %}
    <div class="video-container">
      <iframe src="https://www.youtube-nocookie.com/embed/{{video.youtubeid}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  {% endif %}
  {% endfor %} -->
  <div class="video-container">
    <iframe src="https://www.youtube.com/embed/pOsxI4yfQyQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="text-center">
    <p class="editable">
      Want more great interviews and innovator insights like this?
    </p>
    <a href="https://www.youtube.com/channel/UCUJcvJL2L_0Js3-qLrIRE4g" target="blank"><button class="button-dark">Watch Our Channel →</button></a>
  </div>
</section>
<section class="text-center">
  <h2 class"editable">Catch Us On Our 2019 Asia World Tour!</h2>
  <p class"editable">
    We'll be covering the conversations and bringing the buzz to the region's hottest innovation events.
  </p>
  <div class="grid-middle-spaceAround text-center">
    <div class="col-2_sm-4 event-icon">
      <img src="/images/clients/techsauceglobalsummit2019.png" alt="Techsauce" />
      <h3>19-20 June</h3>
      <p>Bangkok, Thailand</p>
    </div>
    <div class="col-2_sm-4 event-icon">
      <img src="/images/clients/rise.png" alt="RISE Hong Kong" />
      <h3>8-11 July</h3>
      <p>Hong Kong</p>
    </div>
    <div class="col-2_sm-4 event-icon">
      <img src="/images/clients/startupthailand.png" alt="Startup Thailand" />
      <h3>25-27 July</h3>
      <p>Bangkok, Thailand</p>
    </div>
    <div class="col-2_sm-4 event-icon">
      <img src="/images/clients/worldstartupexpo.png" alt="World Startup Expo" />
      <h3>5 events from May to Dec</h3>
      <p>Multiple cities in India</p>
    </div>
    <div class="col-2_sm-4 event-icon">
      <img src="/images/clients/hkfintechweek.png" alt="World Startup Expo" />
      <h3>4-8 November</h3>
      <p>Hong Kong - Shenzhen</p>
    </div>
  </div>
  <div class="grid-center text-center">
    <div class="col-10_sm-12">
      <p class"editable">
        Sponsorship opportunities now available. If you want to be part of creating the future, there's never been a better opportunity to jump into the conversation.
      </p>
      <p>
        Get in touch with our team to discover how.
      </p>
      <a href="https://app.hubspot.com/meetings/leigh21/30-minute-presentation" target="blank"><button>Schedule a Call →</button></a>
    </div>
  </div>
</section>
<section class="bg-yellow">
  <h2 class="editable text-center">
    The way we connect with audiences online is changing...
  </h2>
  <div class="grid-spaceAround-center">
    <div class="col-3_sm-6 text-center pad-all-s">
      <img src="/svgs/video2.svg" alt="computer and video icon" />
      <h3 class="editable">
        Video is eating the world
      </h3>
    </div>
    <div class="col-3_sm-6 text-center pad-all-s">
      <img src="/svgs/adblock2.svg" alt="computer and video icon" />
      <h3 class="editable">
        Ads are a major turnoff
      </h3>
    </div>
    <div class="col-3_sm-6 text-center pad-all-s">
      <img src="/svgs/upload.svg" alt="computer and video icon" />
      <h3 class="editable">
        The web is drowning in content
      </h3>
    </div>
    <div class="col-3_sm-6 text-center pad-all-s">
      <img src="/svgs/authentic.svg" alt="computer and video icon" />
      <h3 class="editable">
        Audiences demand authenticity
      </h3>
    </div>
  </div>
  <div class="grid-center text-center">
    <div class="col-10_sm-12">
      <p class"editable">
        Want the inside scoop on social video marketing? Check out our factsheet and find out how you can create content that connects.
      </p>
      <a href="/join-the-conversation-video-marketing"><button class="button-dark">Get the Facts →</button></a>
    </div>
  </div>
</section>
<section class="text-center">
  <h2 class="editable">
    Connect With Us
  </h2>
  <p class="editable">
    We're bringing together a global community of aspiring and inspiring entrepreneurs. Join the conversation and connect with us on social media.
  </p>
  {% include social.html %}
</section>
<section class="bg-cyan text-center">
  <h2 class="text-white">Join our team!</h2>
  <p class="text-white">
    We're hiring...
  </p>
  <a href="/jobs"><button class="button-dark">Learn more →</button></a>
</section>
