<footer class="bg-dark text-center">
  <div class="grid-middle-spaceAround pad-all-xs pad-top-s">
    <div class="col-3">
      <a href="/"><img src="/images/beachcity-logo.png"/></a>
    </div>
    <div class="col-3">
      <a href="https://www.facebook.com/Beach-City-529685707197780/"><i class="fa fa-facebook footer-icon pad-all-xs" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-linkedin-square footer-icon pad-all-xs" aria-hidden="true"></i></a>
    </div>
    <div class="col-3">

    </div>
  </div>
  <p class="pad-bottom-xs"><i class="fa fa-copyright" aria-hidden="true"></i><script type="text/javascript">
  document.write(new Date().getFullYear()); </script> BeachCity, All Rights Reserved.</p>
</footer>
