<footer class="bg-dark text-center">
  <div class="text-center pad-all-xs pad-top-s">
    <a href="https://www.facebook.com/Beach-City-529685707197780/" target="blank"><i class="fa fa-facebook footer-icon pad-all-xs" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/company/beach-city/" target="blank"><i class="fa fa-linkedin-square footer-icon pad-all-xs" aria-hidden="true"></i></a>
    </div>
  </div>
  <h6 class="pad-bottom-xs" style="margin: 0;"><i class="fa fa-copyright" aria-hidden="true"></i><script type="text/javascript">
  document.write(new Date().getFullYear()); </script> BeachCity, All Rights Reserved.</h6>
</footer>
