<footer class="bg-dark text-center">
  <a href="/contact"><p class="text-center">Contact Us</p></a>
  </div>
  <div class="grid-center">
    <div class="col-3_md-4_sm-8 grid-middle-spaceAround pad-all-xs">
      <a href="https://www.facebook.com/Beach-City-529685707197780/" target="blank" class="col-3"><i class="fa fa-facebook-square footer-icon pad-all-xs" aria-hidden="true"></i></a>
      <a href="https://www.youtube.com/channel/UCUJcvJL2L_0Js3-qLrIRE4g" target="blank" class="col-3"><i class="fa fa-youtube-square footer-icon pad-all-xs" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/company/beach-city/" target="blank" class="col-3"><i class="fa fa-linkedin-square footer-icon pad-all-xs" aria-hidden="true"></i></a>
    </div>
  </div>
  <h6 class="pad-bottom-s" style="margin: 0;"><i class="fa fa-copyright" aria-hidden="true"></i><script type="text/javascript">
  document.write(new Date().getFullYear()); </script> BeachCity, All Rights Reserved. Created by CNX Web.</h6>
</footer>
