<!-- main nav -->
<nav id="top" class="nav grid-middle-spaceBetween bg-white hide-mobile">
  <div class="pad-top-xs col-2_md-4">
    <a href="/" ><img src="/images/beachcity-logo-dark.png"/></a>
  </div>
  <div class="col-4_md-5 grid-spaceBetween pad-all-xs">
    <!-- <a href="/stories"><p>Stories We've Told</p></a> -->
    <a href="/services"><p>What We Do</p></a>
    <a href="/about"><p>Who We Are</p></a>
    <a href="/contact"><p>Talk to Us</p></a>
  </div>
</nav>

<!-- mobile nav header -->
<nav class="nav-mobile grid-spaceBetween-middle bg-white">
  <div class="pad-all-xs col-2_md-4">
    <a href="/" ><img src="/images/beachcity-logo-dark.png"/></a>
  </div>
  <div class="toggle-mobile-menu margin-right-s">
    <i class="fa fa-bars text-big" aria-hidden="true"></i>
  </div>
</nav>

<!-- mobile nav menu -->
<nav id="mobile-menu">
  <div class="pad-top-m pad-bottom-s">
    <a class="toggle-mobile-menu">
      <i class="fa fa-times text-white" aria-hidden="true"></i>
    </a>
  </div>
  <a href="/services"><p class="text-white">What We Do</p></a>
  <a href="/about"><p class="text-white">Who We Are</p></a>
  <a href="/contact"><p class="text-white">Talk to Us</p></a>
  <div class="grid-center pad-top-s">
    <div class="col-6_sm-8 grid-middle-spaceAround pad-all-xs">
      <a href="https://www.facebook.com/Beach-City-529685707197780/" target="blank" class="col-3"><i class="fa fa-facebook-square text-big text-white pad-all-xs" aria-hidden="true"></i></a>
      <a href="https://www.youtube.com/channel/UCUJcvJL2L_0Js3-qLrIRE4g" target="blank" class="col-3"><i class="fa fa-youtube-square text-big text-white pad-all-xs" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/company/beach-city/" target="blank" class="col-3"><i class="fa fa-linkedin-square text-big text-white pad-all-xs" aria-hidden="true"></i></a>
    </div>
  </div>
</nav>

<!-- scroll to top container (floats near the bottom right) -->
<!-- <a href="#top" class="scroll-to-top-container"><i class="fa fa-arrow-circle-up scroll-to-top-icon" aria-hidden="true"></i></a> -->
